.password-checklist {
    list-style: none;
    margin: 2px 0 20px 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 4px;

    li {
        display: flex;
        align-items: center;
        gap: 6px;
        font-size: 11px;
        color: var(--color-letra-gris);
        transition: color 0.2s;

        .icon {
            font-size: 14px;
        }

        &.pendiente .icon {
            color: var(--color-letra-gris);
        }

        &.cumplida {
            color: #00ba7c;

            .icon {
                color: #00ba7c;
            }
        }
    }
}
