.boton-posteo-flotante {
    $posicion-posteo: 44px;
    z-index: 10001;
    position: fixed;
    position: fixed;
    bottom: $posicion-posteo;
    right: $posicion-posteo;

    .bot-posteo-flotante {
        border-radius: 50%;
        background-color: var(--fondo-celeste-boton);
        display: flex;
        box-shadow: 0px 1px 3px rgba(29, 155, 240, 0.2);
        align-items: center;
        justify-content: center;
        padding: 10px;
        cursor: pointer;
        color: white;

        .icon {
            color: var(--letra-titular);
            font-size: 22px;
        }

        &:hover {
            transition: 0.2s ease-in-out;
            transform: scale(1.2);
        }
    }
}

.boton-busqueda-flotante {
    $posicion-busqueda-bottom: 110px;
    $posicion-busqueda-rigth: 44px;
    z-index: 10001;
    position: fixed;
    position: fixed;
    bottom: $posicion-busqueda-bottom;
    right: $posicion-busqueda-rigth;

    .bot-busqueda-flotante {
        border-radius: 50%;
        background-color: var(--fondo-celeste-boton);
        display: flex;
        box-shadow: 0px 1px 3px rgba(29, 155, 240, 0.2);
        align-items: center;
        justify-content: center;
        padding: 10px;
        cursor: pointer;
        color: white;

        .icon {
            color: var(--letra-titular);
            font-size: 22px;
        }

        &:hover {
            transition: 0.2s ease-in-out;
            transform: scale(1.2);
        }
    }
}

@media (max-width: 480px) {
    $altura-ancho: 50px;
    $size-icon: 24px;

    .boton-posteo-flotante {
        $posicion-posteo: 44px;
        bottom: 32px;
        right: 20px;
        z-index: 10001;

        .bot-posteo-flotante {
            display: flex;
            align-items: center;
            justify-content: center;
            width: $altura-ancho;
            height: $altura-ancho;

            .icon {
                font-size: $size-icon;
            }

        }
    }

    .boton-busqueda-flotante {
        display: none;
        $posicion-busqueda-bottom: 110px;
        $posicion-busqueda-rigth: 44px;

        .bot-busqueda-flotante {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;

            .icon {
                font-size: 22px;
            }

        }
    }
}