.seguidos-seguidoress {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10002;
    background-color: red;
    background: var(--fondo-color-modal);
    backdrop-filter: var(--fondo-blur-modal);

    .contenedor-seguidos-seguidores {
        min-width: 474px;
        max-width: 600px;
        border-radius: 8px;
        background-color: var(--fondo-negro);
        padding: 16px;
        border: var(--borde-modal);
        height: fit-content;
        min-height: 170px;
        min-height: 600px;

        .icono-close-seguidos-seguidores {
            width: 100%;
            margin: 0 0 16px 0;

            .icono {
                width: fit-content;
                cursor: pointer;
                display: flex;
                align-items: center;
                padding: 5px;
                border-radius: 50%;

                .icon {
                    color: var(--letra-titular);
                    font-size: 20px;
                }

                &:hover {
                    transition: 0.2s ease-in-out;
                    background-color: var(--color-gris);
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .seguidos-seguidoress {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .contenedor-seguidos-seguidores {
            border-radius: 0px;
            width: 100%;
            min-width: auto;
            max-width: auto;
            padding: 16px;
            height: 100vh;

            .icono-close-seguidos-seguidores {
                width: 100%;
                margin: 0 0 16px 0;

                .icono {
                    width: fit-content;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    padding: 5px;

                    .icon {
                        font-size: 20px;
                    }

                }
            }
        }
    }
}